/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6db2e8;
  --ifm-color-primary-dark: #6db2e8;
  --ifm-color-primary-darker: #6db2e8;
  --ifm-color-primary-darkest: #6db2e8;
  --ifm-color-primary-light: #6db2e8;
  --ifm-color-primary-lighter: #6db2e8;
  --ifm-color-primary-lightest: #6db2e8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #6db2e8;
  --ifm-color-primary-dark: #6db2e8;
  --ifm-color-primary-darker: #6db2e8;
  --ifm-color-primary-darkest: #6db2e8;
  --ifm-color-primary-light: #6db2e8;
  --ifm-color-primary-lighter: #6db2e8;
  --ifm-color-primary-lightest: #6db2e8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Reduce space between logo and nav items */
.navbar__items {
  margin-left: 10px; /* Decrease further if needed */
}

/* Reduce the space after the logo */
.navbar__logo {
  margin-right: 4px; /* Smaller value for less space */
}

/* Adjust the navbar inner container */
.navbar__inner {
  display: flex;
  align-items: center;
  gap: 0px; /* Ensure no extra space */
}
